# Bootstrap
app/bootstrap.php.cache

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

# Composer
composer.phar

# Local settings for vagrant
Vagrantfile.local
.vagrant

# Allow .gitkeep
!.gitkeep